<h1>Past 4 Weeks ( <%= weeks_ago %> - <%= current_date %> )</h1>

<b style="font-size: 20px;">Revenue = <%=  total_revenue %></b>
<br>

<div style="display: inline-block; vertical-align: top; margin-right: 20px; font-size: 13px;">
  <b>Apple</b><br>
  <%= apple_revenue %>
</div>

<div style="display: inline-block; vertical-align: top; margin-right: 20px; font-size: 13px;">
  <b>Stripe</b><br>
  <%= stripe_revenue %> <br>
</div>

<hr>
<br>
